
  .container{
    display: flex;
    flex-direction: column;
  }
  .btn-vertical{
    margin: auto;
    display:flex;
    flex-direction: column;
    cursor:pointer;
    width: 10%;
  }
  .displayValue {
    text-align: center;
    font-size: 30px;
    padding: 10px 12px;
  }